<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <title>ConvertMyMoney</title>
            <link href="/style.css" rel="stylesheet">
            <meta charset="utf-8">
        </head>
        <body>
            <h1><a href="/"><img src="/logo.png" alt="Covert My Money"></a></h1>